body{
  background-color: #eee;
}

h1{
  font-size: 22px;
}

.row-no-margin{
  margin-left: 0;
  margin-right: 0;
}

.paper{
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-top: 30px;

  a.top-link{
    display: inline-block;;
    margin-bottom: 30px;
  }

  .search-area{
    margin-bottom: 10px;
  }
}